* {
	padding: 0;
	margin: 0;
}
body{
	overflow-x: hidden;
	font-family: 'Opens Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important; 
}
li{
	list-style: none;
	display: inline-block;
}
a{
	text-decoration: none;
	transition: all 500ms ease-in-out;

}
a:hover,a:active{
	text-decoration: none;
}
h1,h2,h4{
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}
p{
	font-size: 15px;
	line-height: 21px;
	text-indent: 0;
}
.btn{
	transition: all 00ms easy-in-out;
	font-weight: 500 !important;
	text-transform: uppercase;
}
.btn:hover{
	background-color: #ededed !important;
	color: #3c3c3c !important;
	border: 1px solid #fff;

}

.navbar{
	background-color: #222222 !important;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

.navbar a{
	/*color: #fff !important;*/
	color: #ffffff !important;
	opacity: 0.7;

}

.navbar a:hover{
	opacity: 1;
	background-color: #3c3c3c !important;
}

/*header*/


.header{
	height: 600px;
	width: 100%;
	padding: 30px 0 30px;
	margin-top: 50px;
	background-image: url('../images/back2.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff !important;
}
.header img{
	height: 350px;
	width: 450px;
	margin: 70px 0 0 40px;

}
.header h1{
	font-size: 40px;
	font-weight: 700;
	padding-top: 30px;
}
.header h1,p,button{
	margin-top: 20px;
}
.header .btn{
	margin: 20px 20px;
	border-radius: 0;
}
@media(max-width:768px){
	.header{
		padding:30px;
		height: 750px
	}
	.header img{
		width:90%;
		height:300px ;
		margin: 10px 0 0 20px ;
	}
	.header button{
		font-size: 10px;
		margin-left: 20px;
	}
	.header h1{
		font-size: 20px;
	}
	.header h2{
		font-size: 10px;
	}
}

.services{
	padding: 80px 0 80px;
	text-align: center;
	background-color: #f3f3f3;
}
.services h2,h4{
	color: #4c4c4c;
	margin: 20px 0 20px;

}

.services p{
	color: #737373;
	font-size: 14px;
	padding-bottom:14px;
	text-indent:0;
	text-align: justify;
    text-justify: inter-word;
}

.services i{
	height: 80px;
	width: 80px;
	font-size: 30px;
	padding: 25px 20px;
	border-radius: 50%;
	background-color:#6699cc;
	color: #fff;
	text-align: center;
}
@media(max-width:768px){
	.services{
		padding: 30px;
	}
}
.objective{
	padding: 80px 0 80px;
	text-align: center;

}
.objective h2,h4{
	color: #4c4c4c;
	margin: 20px 0 20px;

}

.objective p{
	color: #737373;
	font-size: 14px;
	padding-bottom:14px;
	text-indent:0;
	text-align: justify;
    text-justify: inter-word;
}

.objective i{
	height: 80px;
	width: 80px;
	font-size: 30px;
	padding: 25px 20px;
	border-radius: 50%;
	background-color:#6699cc;
	color: #fff;
	text-align: center;
}
@media(max-width:768px){
	.objective{
		padding: 30px;
	}
}
/*Pricing*/

.pricing{
	padding: 50px 0 80px;
	text-align: center;
	background-color: #3399ff;
}
.pricing h2,p{
	color: #fff;
}
.pricing p{
	padding-bottom: 40px;
}
.pricing .packages{
	padding: 30px;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 30px;
}

.packages li{
	display: block;
	padding:5px;
}

.packages h4,h1,b{
	color: #4c4c4c;
}
.packages p,li{
	color: #737373;
}
.packages button{
	margin-top: 10px;
}
@media(max-width:768px){
	.pricing{
		padding: 30px;
	}
	.packages{
		width: 80%;
		margin-left: 25px;
	}
}

/*team*/
.team{
	padding: 50px 0 80px;
	text-align: center;
}
.team b,h2,h4{
	margin: 20px 0 20px;
	color: #4c4c4c;
}
.team p {
	color: black;

}
.team img{
	height: 150px;
	width: 150px;
	margin-top: 80px;
	border-radius: 50%;
}

.team i{
	height: 30px;
	width: 30px;
	padding: 5px;
	font-size: 17px;
	border-radius: 50%;
	background-color: #a0db8e;
	color: #fff;
}
.team a:hover i{
	background-color: #709963; 
}
.product{
	padding: 50px 0 80px;
	text-align: center;
	color: #fff;
	
}
.product h2{
	color: #5e5e5e;

}
.product p {
	padding-bottom: 40px;
}
.product img{
	width: 350px;
	
	opacity: 0.6;
	cursor: pointer;
	margin: 10px ;
	transition: all 500ms ease-in-out;
	padding-right: 100px;
}

.product li:hover img{
	opacity: 1;
}

/*Clients*/

.client{
	padding: 50px 0 80px;
	text-align: center;
	color: #fff;
	background-color:#f3f3f3; 
}
.client h2{
	color: #5e5e5e;

}
.client p {
	padding-bottom: 40px;
}
.client img{
	width: 350px;
	
	opacity: 0.6;
	cursor: pointer;
	margin: 10px ;
	transition: all 500ms ease-in-out;
	padding-right: 100px;
}

.client li:hover img{
	opacity: 1;
}

.contact{
	padding:50px 0 80px;
	text-align: center;
}
.contact p{
	padding-bottom: 80px;
	color: #737373;
}
.contact h2{
	color: #4c4c4c;
	margin: 20px 0 20px;

}
.contact .input-group{
	margin-bottom: 25px;
}

.contact .form-control{
	border-radius: 0 !important;
}
.contact span{
	border-radius: 0 !important;
}
.contact .btn{
	width: 100%;
	border-radius: 0;
	font-size: 15px;
	background-color: #f08080;
	color: #fff;
}
.contact .btn:hover{
	background-color: #a85959 ;
	color: #fff ;
}

.footer{
	padding: 30px;
	color: #cccccc;
	background-color: #222222;

}
.footer .social{
	font-size: 20px;
	height: 30px;
	width: 30px;
	padding: 5px;
	text-align: center;
	border: 1px solid #cccccc;
	margin-bottom: 10px;
	margin-right: 5px;
}
.footer input{
	height: 40px;
	width: 160px;
	padding: 5px;
	border: none;
	background-color: #cccccc;
	color: #000;
}
.footer .btn{
	padding: 10px 5px 10px;
	margin: -3px 0 0 5px;
}
